body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

.logo {
    flex: 1;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 150%;  
    font-weight: bold;
}

.container{
    display: flex;
    margin: auto;
    width: 95%;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.center-nav {
    flex: 3;
    justify-content: center;
}

.right-nav {
    flex: 1;
    justify-content: flex-end;
}

.nav-item {
    margin: 0 2%;  
}

.center-nav .nav-item {
    margin: 0 5%;  
}

.right-nav .nav-item {
    margin: 0 10%; 
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 7px; 
    transition: background-color 0.3s, width 0.3s, height 0.3s;
}

.nav-item a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 30px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.icon-circle i {
    margin: 0; 
}

.main-cont{
    display: flex;
    margin: auto;
    width: 95%;
    flex-direction: row;
}

.info-cont{
    display: flex;
    width: 180%;
    flex-direction: column;
}

.main-disp,.price{
    background-color: #ddd;
    padding: 3%;
    border-radius: 20px;
    margin: 2% 4%;
    font-size: large;
}

.details,.pages{
    background-color: #ddd;
    padding: 2%;
    border-radius: 20px;
    font-size: large;
}

.alld{
    background-color: #ddd;
    padding: 1%;
    border-radius: 20px;
    margin: 2% 4%;
    font-size: large;
    display: flex;
    flex-direction: row;
}

.main-disp>span{
    font-size: larger;
    font-weight: 500;
}

.buy{
    border-radius: 20px;
    display: flex;
    margin: auto;
    font-size: larger;
    padding: 2% 4%;
    background-color: #ddd;
}

.buy:hover{
    background-color: orange;
}